<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="lolApiKey" value="462a676f-939a-4c7c-9976-9a86e6ecc647"/>
    <add key="lolStaticDataVersion" value="1.2"/>
    <add key="lolSummonerVersion" value="1.4"/>
  </appSettings>
</configuration>