<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="staticDataFolder" value="~/App_Data/staticLolData/"/>
    <add key="lolApiKey" value="54a74ebe-e3b1-4597-9540-569b7c6ce1b0"/>
    <add key="summonerApiVersion" value="1.4"/>
    <add key="leagueApiVersion" value="2.5"/>
    <add key="matchApiVersion" value="2.2"/>
  </appSettings>
</configuration>