<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="lolApiKey" value="54a74ebe-e3b1-4597-9540-569b7c6ce1b0"/>
    <add key="lolStaticDataVersion" value="6.10.1"/>
    <add key="lolImagesVersion" value="6.10.1"/>
    <add key="language" value="pt_BR"/>
  </appSettings>
</configuration>